/* open-sans-condensed-300 - latin */
@font-face {
  font-family: 'Open Sans Condensed';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/open-sans-condensed-v10-latin-300.eot'); /* IE9 Compat Modes */
  src: local('Open Sans Cond Light'), local('OpenSans-CondensedLight'),
       url('../fonts/open-sans-condensed-v10-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/open-sans-condensed-v10-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/open-sans-condensed-v10-latin-300.woff') format('woff'), /* Modern Browsers */
       url('../fonts/open-sans-condensed-v10-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/open-sans-condensed-v10-latin-300.svg#OpenSansCondensed') format('svg'); /* Legacy iOS */
}
/* open-sans-condensed-700 - latin */
@font-face {
  font-family: 'Open Sans Condensed';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/open-sans-condensed-v10-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Open Sans Condensed Bold'), local('OpenSans-CondensedBold'),
       url('../fonts/open-sans-condensed-v10-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/open-sans-condensed-v10-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/open-sans-condensed-v10-latin-700.woff') format('woff'), /* Modern Browsers */
       url('../fonts/open-sans-condensed-v10-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/open-sans-condensed-v10-latin-700.svg#OpenSansCondensed') format('svg'); /* Legacy iOS */
}


#undosList ul{max-height: 40px; width:18%;}
#undosList ul{overflow:hidden; overflow-y:auto;}

#app{
  background-color: #383838;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;

  font-family: 'Open Sans Condensed';
}


/*
  blue green : #1bf8f1;
  green blue: #34d4a7;
*/;
section{
  padding: 10px;
  padding-top: 0px;
  padding-bottom: 0px;
}

section h1{
  font-size: 1em;
  color: #1bf8f1;
}

.labeledSlider{
  padding: 5px;
}

#sensorData{
  position: absolute;
  right:200px;
  top:200px;
  width: 300px;
  height: 300px;
}

/*chart settings*/

.graph{
  width: 30%;
  position: relative;
  float: left;
}

.mg-chart-title{
  color: #1bf8f1 !important;
  font-weight: 500;
}
.mg-line-legend{
  color:white !important;
  fill : #ffffff !important;
}

.mg-x-axis text {
  color: #1bf8f1 !important;
  fill : #1bf8f1 !important;
}
.mg-y-axis text {
  color: #1bf8f1 !important;
  fill : #1bf8f1 !important;
}

.mg-line-legend text {
  color: #FFFFFF !important;
  fill:#FFFFFF !important;
}

.mg-x-axis text, .mg-y-axis text, .mg-histogram .axis text {
}

.mg-line1-color{
  color: #1bf8f1  !important;
  stroke: #1bf8f1  !important;
}

.mg-area1-color {
    fill: #FFFFFF !important;
}

.mg-active-datapoint {
  fill: #FFFFFF !important;
  opacity: 0.6 !important;
}

/*from http://codereview.stackexchange.com/questions/62338/stylish-underline-when-input-is-focused-modern-browsers-only*/
input[type=text] {
  height:17px;
  border: 0;
  width: calc(100% - 2px);
  margin-left:1px;
  box-shadow: -8px 10px 0px -7px #ebebeb, 8px 10px 0px -7px #ebebeb;
  -webkit-transition: box-shadow 0.3s;
  transition: box-shadow 0.3s;
}
input[type=text]:focus {
  outline: none;
  box-shadow: -8px 10px 0px -7px #4EA6EA, 8px 10px 0px -7px #4EA6EA;
}

input[type=number] {
  height:17px;
  border: 0;
  /*width: calc(100% - 2px);*/
  width:60px;
  margin-left:1px;
  padding-left: 5px;
  box-shadow: -2px 10px 0px -7px #ebebeb, 8px 10px 0px -7px #ebebeb;
  -webkit-transition: box-shadow 0.3s;
  transition: box-shadow 0.3s;
}
input[type=number]:focus {
  outline: none;
  box-shadow: -8px 10px 0px -7px #4EA6EA, 8px 10px 0px -7px #4EA6EA;
}

/*slider track from
http://danielstern.ca/range.css/?ref=css-tricks#/
*/
input[type=range] {
  -webkit-appearance: none;
  /*width: 100%;*/
  margin: 5px 0;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 1px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  background: rgba(0, 128, 255, 0.78);
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #000031, 0px 0px 0px #00004b;
  border: 0px solid #00001e;
  height: 11px;
  width: 11px;
  border-radius: 28px;
  background: #0080ff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -5.2px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: rgba(46, 151, 255, 0.78);
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 1px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  background: rgba(0, 128, 255, 0.78);
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 0px #000031, 0px 0px 0px #00004b;
  border: 0px solid #00001e;
  height: 11px;
  width: 11px;
  border-radius: 28px;
  background: #0080ff;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 1px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: rgba(0, 105, 209, 0.78);
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
  background: rgba(0, 128, 255, 0.78);
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}
input[type=range]::-ms-thumb {
  box-shadow: 0px 0px 0px #000031, 0px 0px 0px #00004b;
  border: 0px solid #00001e;
  height: 11px;
  width: 11px;
  border-radius: 28px;
  background: #0080ff;
  cursor: pointer;
  height: 1px;
}
input[type=range]:focus::-ms-fill-lower {
  background: rgba(0, 128, 255, 0.78);
}
input[type=range]:focus::-ms-fill-upper {
  background: rgba(46, 151, 255, 0.78);
}
