/*Nice colors for text:

#23E1FE
*/

/* open-sans-condensed-300 - latin */
@font-face {
  font-family: 'Open Sans Condensed';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/open-sans-condensed-v10-latin-300.eot'); /* IE9 Compat Modes */
  src: local('Open Sans Cond Light'), local('OpenSans-CondensedLight'),
       url('../fonts/open-sans-condensed-v10-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/open-sans-condensed-v10-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/open-sans-condensed-v10-latin-300.woff') format('woff'), /* Modern Browsers */
       url('../fonts/open-sans-condensed-v10-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/open-sans-condensed-v10-latin-300.svg#OpenSansCondensed') format('svg'); /* Legacy iOS */
}
/* open-sans-condensed-700 - latin */
@font-face {
  font-family: 'Open Sans Condensed';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/open-sans-condensed-v10-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Open Sans Condensed Bold'), local('OpenSans-CondensedBold'),
       url('../fonts/open-sans-condensed-v10-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/open-sans-condensed-v10-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/open-sans-condensed-v10-latin-700.woff') format('woff'), /* Modern Browsers */
       url('../fonts/open-sans-condensed-v10-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/open-sans-condensed-v10-latin-700.svg#OpenSansCondensed') format('svg'); /* Legacy iOS */
}


#undosList ul{max-height: 40px; width:18%;}
#undosList ul{overflow:hidden; overflow-y:auto;}

#app{
  background-color: #FFFFFF;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  font-family: 'Open Sans Condensed';
  color: #090035;
}

#app button{
  border-radius: 0;
  cursor: pointer;
  display: inline-block;
  background: #615E5E;
  border: none;
  color: white;
  margin: 10px;
  padding: 5px;
}

#app button:focus {outline:0;}

/*
  blue green : #1bf8f1;
  green blue: #34d4a7;
*/
section{
  padding: 10px;
  padding-top: 0px;
  padding-bottom: 0px;
}

section h1{
    font-size: 0.9em;
    color: #F7F7F7;
}

.labeledSlider{
  padding: 5px;
}

#sensorData{
  position: absolute;
  right:200px;
  top:200px;
  width: 300px;
  height: 300px;
}

/*chart settings*/
#graphs{
      height: 90%;
}

.graph{
  width: 50%;
  position: relative;
  float: left;
  /*font-size: 0.55rem;*/
}

.mg-voronoi{
  fill:rgba(255, 0, 0, 0);
}

.mg-chart-title{
  color: #1bf8f1 !important;
  font-weight: 500;
}

.mg-header{
  color: #1bf8f1 !important;
  font-weight: 500;
  fill:#1bf8f1 !important;
}

.mg-line-legend{
  color:white !important;
  fill : #ffffff !important;
}

.mg-x-axis text {
  color: #1bf8f1 !important;
  fill : #1bf8f1 !important;
}
.mg-y-axis text {
  color: #1bf8f1 !important;
  fill : #1bf8f1 !important;
}

.mg-line-legend text {
  color: #FFFFFF !important;
  fill:#FFFFFF !important;
}

/*.mg-x-axis text, .mg-y-axis text, .mg-histogram .axis text {
}
shape-rendering: auto;
*/
.mg-x-axis line, .mg-y-axis line {
    opacity: 1;

    stroke: #b3b2b2;
    stroke-width: 1px;
}

.mg-line1-color{
  color: #1bf8f1  !important;
  stroke: #1bf8f1  !important;
}

.mg-area1-color {
    fill: rgba(255, 255, 255, 0);
  }

.mg-active-datapoint {
  fill: #FFFFFF !important;
  opacity: 0.6 !important;
}

/*from http://codereview.stackexchange.com/questions/62338/stylish-underline-when-input-is-focused-modern-browsers-only*/
input[type=text] {
  height:17px;
  border: 0;
  width: calc(100% - 2px);
  margin-left:1px;
  -webkit-transition: box-shadow 0.3s;
  transition: box-shadow 0.3s;
  margin: 5px;
}
input[type=text]:focus {
  outline: none;
  box-shadow: -8px 10px 0px -7px #4EA6EA, 8px 10px 0px -7px #4EA6EA;
}

input[type=password] {
  height:17px;
  border: 0;
  width: calc(100% - 2px);
  margin-left:1px;
  -webkit-transition: box-shadow 0.3s;
  transition: box-shadow 0.3s;
  margin: 5px;
}
input[type=password]:focus {
  outline: none;
  box-shadow: -8px 10px 0px -7px #4EA6EA, 8px 10px 0px -7px #4EA6EA;
}

input[type=number] {
  height:17px;
  border: 0;
  /*width: calc(100% - 2px);*/
  width:60px;
  margin-left:1px;
  padding-left: 5px;
  box-shadow: -2px 10px 0px -7px #ebebeb, 8px 10px 0px -7px #ebebeb;
  -webkit-transition: box-shadow 0.3s;
  transition: box-shadow 0.3s;
}
input[type=number]:focus {
  outline: none;
  box-shadow: -8px 10px 0px -7px #4EA6EA, 8px 10px 0px -7px #4EA6EA;
}

/*slider track from
http://danielstern.ca/range.css/?ref=css-tricks#/
*/
input[type=range] {
  -webkit-appearance: none;
  /*width: 100%;*/
  margin: 5px 0;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 1px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  background: rgba(0, 128, 255, 0.78);
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #000031, 0px 0px 0px #00004b;
  border: 0px solid #00001e;
  height: 11px;
  width: 11px;
  border-radius: 28px;
  background: #0080ff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -5.2px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: rgba(46, 151, 255, 0.78);
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 1px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  background: rgba(0, 128, 255, 0.78);
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 0px #000031, 0px 0px 0px #00004b;
  border: 0px solid #00001e;
  height: 11px;
  width: 11px;
  border-radius: 28px;
  background: #0080ff;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 1px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: rgba(0, 105, 209, 0.78);
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
  background: rgba(0, 128, 255, 0.78);
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}
input[type=range]::-ms-thumb {
  box-shadow: 0px 0px 0px #000031, 0px 0px 0px #00004b;
  border: 0px solid #00001e;
  height: 11px;
  width: 11px;
  border-radius: 28px;
  background: #0080ff;
  cursor: pointer;
  height: 1px;
}
input[type=range]:focus::-ms-fill-lower {
  background: rgba(0, 128, 255, 0.78);
}
input[type=range]:focus::-ms-fill-upper {
  background: rgba(46, 151, 255, 0.78);
}


#adder{
  position: absolute;
  height: 90%;
  width: 400px;
  background: #615E5E;
  z-index: 1;
  border: 1px solid white;
}

#adder button{
  background: mediumaquamarine;
}
#adder button:disabled{
  background: #93B9AC;
  color: #E4E4E4;
  cursor: default;
}

#adder h1{
 margin: 5px;
}

#feedsSelector{
  position: absolute;
  height: 90%;
  width: 400px;
  background: #615E5E;
  z-index: 1;
  border: 1px solid white;
}

#feedsSelector header{
  padding: 15px;
}

#feedsSelector header h1{
  display: inline-block;
  margin: 5px;
}

#feedsSelector header input[type=text]{
  width: 70%;
  border: none;
  box-shadow: none;
  display: inline-block;
  margin-left: 20px;
}

#feedsSelector section{
  padding: 0;
  width: 100%;
  height: 60%;
}

#feedsSelector ul{
      width: 100%;
    padding: 0px;
    height: 100%;
    overflow: auto;
}

#feedsSelector li {
  width: 60px;
  min-height: 60px;
  /* border: 1px solid #000; */
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  margin: 5px;
  zoom: 1;
  _height: 60px;
  padding: 10px;
  color: white;
  background: mediumaquamarine;
}

#feedsSelector li.selected{
  /*border: 1px solid #FFB100 ;*/

  font-style: italic;
  color: #000000;
  background: white;
}

#topToolbar{
  padding: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

#topToolbar span{
  margin: 10px;
}

.feed{
  color:white;
}

.addNode{
  color:white;
}

select{
    font-family: 'Open Sans Condensed';
    background: white;
}

li.nodeEntry{
  display:flex;
  background: white;
  padding: 10px;
  margin: 10px;
}

li.nodeEntry .title{
  flex-grow: 1;
}
