@import "~styles/palette.scss";
@import "~styles/common.scss";

$nodeEntryBackground:rgb(103, 103, 103);/*white;*/
$nodeEntryDetailsBackground:mediumaquamarine;


#adder{
  position: absolute;
  height: 90%;
  width: 400px;
  background: white;/*#615E5E;*/
  z-index: 1;
  border: 1px solid white;
}

#adder button{
  background: mediumaquamarine;
}
#adder button:disabled{
  background: #93B9AC;
  color: #E4E4E4;
  cursor: default;
}

#adder h1{
 margin: 5px;
 color:black;
}

.addNode{
  color:white;
}

li.nodeEntry{
  display:flex;
  flex-wrap: wrap;
  background: $nodeEntryBackground;
  margin: 10px;
}

li.nodeEntry .title{
  flex-grow: 1;
  font-weight: bold;
  color:white;
}

li.nodeEntry div{
  width:100%;
  display: flex;
  padding: 20px 10px 20px 10px;
}

li.nodeEntry .details{
  padding: 0px;
  margin: 0px;
  background:$nodeEntryDetailsBackground
}
li.nodeEntry .status{
  flex-grow: 1;
}
